/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */

/* Import Tailwind's core styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for better layout and spacing */
body {
  @apply bg-gray-700 text-white font-sans;
}

h1 {
  @apply text-4xl font-bold text-center mt-8 mb-4;
}

.container {
  @apply mx-auto max-w-2xl p-4;
}

button {
  @apply px-4 py-2 rounded text-white font-semibold;
}

button.primary {
  @apply bg-blue-500 hover:bg-blue-700;
}

.radio-input {
  @apply h-5 w-5 text-blue-600 border-gray-300 focus:ring-blue-500;
}

button.secondary {
  @apply bg-red-500 hover:bg-red-700;
}

.input {
  @apply text-black w-full px-4 py-2 mb-4 border rounded;
}

.list {
  @apply mt-6 space-y-4;
}

.list-item {
  @apply p-4 bg-white shadow flex justify-between items-center rounded;
}



.day-grid {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  background-color: #f9f9f9;
  height: 100%;
  position: relative;
}

.day-grid h3 {
  background-color: #333;
  color: white;
  padding: 10px;
}

.day-grid .relative {
  position: relative;
}



